
// fonts 

$font-family: 'Poppins', sans-serif;

// colors 

$white: #fff;
$black: #000000;
$pink: #FFEBDB;

$orangescale: (
    "200": #ffb78a,
    "300": #ff9654,
    "400": #ff8233,
    "500": #ff6300,
    "600": #e85a00,
    "650": #FD6F00,
    "700": #b54600,
    "800": #8c3600,
    "900": #6b2a00
);

$grayscale: (
    "50": #e6e6e6,
    "60": #EDECEC,
    "80": #D9D9D9,
    "100": #b0b0b0,
    "150": #F8F8F8,
    "200": #8a8a8a,
    "300": #545454,
    "350": #424242,
    "400": #333333,
    "500": #1E1E1E
);